body {
    overflow: hidden;
    color: white;
}
* {
    color: white;
}
.container-fluid {
    padding: 0;
    margin: 0;
}

.about {
    top: 40%;
    left: 20%;
    position: absolute;
    transform: translate(-20%, -40%);
    width: auto;
}
.orange {
    color: rgba($color: $orange, $alpha: 1);
}
.orange:hover {
    color: white;
}
.nav-item:hover {
    color: rgba($color: $orange, $alpha: 1) !important;
    border-bottom: rgba($color: $orange, $alpha: 1) 2px solid;
    a {
        color: rgba($color: $orange, $alpha: 1) !important;
    }
}
.nav-item {
    .active {
        color: rgba($color: $orange, $alpha: 1);
    }
}
span {
    display: inline-block;
}

.bg-dark {
    background-color: rgba($color: #161616, $alpha: 1) !important;
    width: 100vw;
    height: 100vh;
}

.primary-word-sub {
    margin: 0 0.5rem;
    height: 4rem;
    line-height: 2;
    vertical-align: top;
    display: inline-block;
    font-size: 2.5em;
    overflow: hidden;
}

.primary-word-sub__top {
    margin-bottom: 1rem;
}
.primary-word-sub__bottom {
    color: orange;
}
.primary-word-sub * {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.primary-word-sub--active * {
    -webkit-transform: translateY(-2.7rem);
    transform: translateY(-2.7rem);
    line-height: 1.35;
}
sub {
    line-height: 2;
}
h1 {
    font-size: 3.5rem;
}

.contact-btn {
    border-radius: 2px;
    border: 1px solid $orange;
}

.contact-btn a {
    text-decoration: none;
    color: $orange;
}
.contact-btn:hover {
    background-color: $orange;

    a {
        color: #161616;
    }
}
