body {
    // overflow-x: hidden;
    overflow-x: hidden;
    color: white;
}

* {
    color: white;
}
.container-fluid {
    padding: 0;
    margin: 0;
}

.about {
    margin-top: 10%;
    // left: 20%;
    // position: absolute;
    // transform: translate(-20%, -40%);
    // width: auto;
}
.orange {
    color: rgba($color: $orange, $alpha: 1);
}
.orange:hover {
    color: white;
}
.nav-item:hover {
    color: rgba($color: $orange, $alpha: 1) !important;
    border-bottom: rgba($color: $orange, $alpha: 1) 2px solid;
    a {
        color: rgba($color: $orange, $alpha: 1) !important;
    }
}
.nav-item {
    .active {
        color: rgba($color: $orange, $alpha: 1);
    }
}
span {
    display: inline-block;
}

.bg-dark {
    background-color: rgba($color: #161616, $alpha: 1) !important;
    width: 100vw;
    height: 100vh;
}

.primary-word-sub {
    margin: 0 0.5rem;
    height: 4rem;
    line-height: 2;
    vertical-align: top;
    display: inline-block;
    font-size: 2.2em;
    overflow: hidden;
}

.primary-word-sub__top {
    margin-bottom: 0.65rem;
}
.primary-word-sub__bottom {
    color: orange;
}
.primary-word-sub * {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.primary-word-sub--active * {
    -webkit-transform: translateY(-2.7rem);
    transform: translateY(-2.7rem);
    line-height: 1.35;
}
sub {
    line-height: 2;
}
h1 {
    font-size: 3.5rem;
}

.contact-btn {
    border-radius: 2px;
    border: 1px solid $orange;
    color: white;
}

.contact-btn a {
    text-decoration: none;
    color: $orange;
}
.contact-btn:hover {
    background-color: $orange;

    a {
        color: #161616;
    }
}
.text {
    opacity: 0;
    color: rgba($color: $orange, $alpha: 1);
    text-align: center;
    z-index: 2;
}
.gallery .col-4 {
    padding: 0px;
}
.column .img img {
    width: 100%;
    // min-width: 250px;
    position: relative;
    // filter: brightness(100%);
}

.title {
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
}
.button {
    text-align: center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 13px;
    position: absolute;
    padding: 7px 10px;
    border: 1px solid $orange;
}

.button {
    // a {
    color: white;
    text-decoration: none;
    // }
}
.button:hover {
    opacity: 1;
    bottom: 30px;
    transition: all 0.3s ease-in-out;
    color: white;
    // a {
    color: white;
    text-decoration: none;
    // }
}
.button:hover {
    // a {
    color: #161616;
    // }
    background-color: rgba($color: $orange, $alpha: 1);
}
.highlight {
    color: $orange;
}
.bold {
    font-weight: 450;
    // color: #161616;
}
.column:hover {
    .img img {
        filter: opacity(50%);
    }
    .title {
        opacity: 1;
        top: 30px;

        transition: all 0.3s ease-in-out;
    }
    .button {
        opacity: 1;
        bottom: 30px;
        transition: all 0.3s ease-in-out;
        color: white;
        // a {
        color: white;
        text-decoration: none;
        // }
    }
    .button:hover {
        // a {
        color: #161616;
        // }
        background-color: rgba($color: $orange, $alpha: 1);
    }
}
header {
    height: 100px;
}
.portrait {
    padding: 15px;
    margin-top: 10%;
    border-radius: 1px;
    display: inline-flex;
    background-color: #313131;
    img {
        max-width: 350px;
        width: 100%;
        border-radius: 1.5px;
    }
}
.textarea {
    display: block;
    padding: calc(0.75em - 1px);
    color: #161616;
    resize: vertical;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
}
.control input {
    color: #161616;
    resize: vertical;
    max-width: 100%;
    min-width: 100%;
    height: 50px;
}
.btn-special {
    margin-top: 10px;
}
.alert-danger {
    ul {
        li {
            color: black !important;
        }
    }
}
.jumbotron {
    background-color: #161616 !important;
}
// media queries
//tablet
@media only screen and (max-width: 768px) {
    .col-4 {
        // padding: 0px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .first {
        width: 0;
        flex: none;
    }
    .col-6 {
        max-width: 100%;
        // display: block;
    }
    .field {
        width: 100vw;
    }
    .cols {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }
    .col-custom {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
    .portrait img {
        width: 100%;
        max-width: 100%;
    }
    .max-width {
        max-width: 50%;
        flex: none;
        // width: 100%;
    }
}
//phone
@media only screen and (max-width: 425px) {
    .col-4 {
        // padding: 0px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
