.container-fluid {
    padding: 0;
    margin: 0;
}

.about {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.orange {
    color: rgba($color: $orange, $alpha: 1) !important;
}
.nav-item:hover {
    color: rgba($color: $orange, $alpha: 1) !important;
    border-bottom: rgba($color: $orange, $alpha: 1) 2px solid;
    a {
        color: rgba($color: $orange, $alpha: 1) !important;
    }
}
.nav-item {
    .active {
        color: rgba($color: $orange, $alpha: 1);
    }
}
span {
    display: inline-block;
}

.bg-dark {
    background-color: rgba($color: #161616, $alpha: 1) !important;
    width: 100vw;
    height: 100vh;
}
